<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" id="admin_user_delete_form" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
</form>
