{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">Edit User "{{ user }}"</h4>

    {% embed 'flash.html.twig' %}{% endembed %}

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    {#{{ include('admin/user/_delete_form.html.twig') }}#}
{% endblock %}
