{% extends 'base.html.twig' %}

{% block title %}User Lists{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/datatables/datatables.css') }}">
{% endblock %}

{% block page_js_libs %}
    <script src="{{ asset('assets/vendor/libs/datatables/datatables.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/moment/moment.js') }}"></script>

    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4 flex-column flex-md-row">
        <div class="mb-3 mb-md-0"><span class="text-muted font-weight-light">Administration / </span> {{ block('title') }}</div>
        <div class="align-self-center align-self-md-center">
            {#<a href="{{ url('admin_user_new') }}" class="btn btn-primary rounded-pill d-block">
                <span class="ion ion-md-add"></span>&nbsp; Add User</a>#}
        </div>
    </h4>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="card">
        <div class="card-datatable table-responsive">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>
{% endblock %}
