{% extends 'base.html.twig' %}

{% block title %}View User{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">View User "{{ user }}"</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_user_index') }}" class="btn btn-secondary">Back to List</a>

    <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>

    {#<button class="btn btn-danger" form="admin_user_delete_form">Delete</button>
    {{ include('admin/user/_delete_form.html.twig') }}#}
{% endblock %}
