<form method="post" action="{{ path('admin_order_delete', {'id': order.id}) }}" id="admin_order_delete_form" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
</form>
