{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">Edit Order "{{ order }}"</h4>

    {{ include('admin/order/_form.html.twig', {'button_label': 'Update'}) }}

   {# {{ include('admin/order/_delete_form.html.twig') }}#}
{% endblock %}
