{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">Create New Order</h4>

    {#{{ include('admin/order/_form.html.twig') }}#}
{% endblock %}
