{% extends 'base.html.twig' %}

{% block title %}View Order{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">View Order "{{ order }}"</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Number</th>
                <td>#{{ order.number }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ order.state|title }}</td>
            </tr>
            <tr>
                <th>Total Items Amount</th>
                <td>{{ order.itemsTotal|money|format_currency('MYR') }}</td>
            </tr>
            <tr>
                <th>Shipping Total Amount</th>
                <td>{{ order.shippingTotal|money|format_currency('MYR') }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.total|money|format_currency('MYR') }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ order.notes }}</td>
            </tr>
            <tr>
                <th>Date Ordered</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d h:i:s A') : '' }}</td>
            </tr>
            <tr>
                <th>Date Updated</th>
                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d h:i:s A') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_order_index') }}" class="btn btn-secondary">Back to List</a>

    <a href="{{ path('admin_order_edit', {'id': order.id}) }}" class="btn btn-primary">Edit</a>

    {#<button class="btn btn-danger" form="admin_order_delete_form">Delete</button>
    {{ include('admin/order/_delete_form.html.twig') }}#}
{% endblock %}
