{%- block vich_file_row -%}
    {%- set force_error = true -%}
    {{- block('form_row') -}}
{%- endblock -%}

{%- block vich_file_widget -%}
    <div class="vich-file">
        {{- form_widget(form.file) -}}
        {%- if form.delete is defined -%}
            {{- form_row(form.delete) -}}
        {%- endif -%}

        {%- if download_uri -%}
            <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
                {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
            </a>
        {%- endif -%}
    </div>
{%- endblock -%}

{%- block vich_image_row -%}
    {%- set force_error = true -%}
    {{- block('form_row') -}}
{%- endblock -%}

{%- block vich_image_widget -%}
    <div class="vich-image">
        <div class="row">
            {%- if image_uri is not null -%}
                <div class="col-3">
                    <div>
                        <a href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" download>
                            <img src="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" alt="" class="img-thumbnail" height="100" />
                        </a>
                    </div>
                </div>
            {%- endif -%}
            <div class="{% if image_uri is not null %}col-9{% else %}col-12{% endif %}">
                <div>{{- form_widget(form.file) -}}</div>
                {%- if image_uri is not null -%}
                    <div class="mt-4">
                        {%- if download_uri -%}
                            <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download class="btn btn-secondary mb-2">
                                {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
                            </a>
                        {%- endif -%}

                        {%- if form.delete is defined -%}
                            {{- form_row(form.delete) -}}
                        {%- endif -%}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endblock -%}

