{% extends 'base.html.twig' %}

{% block page_title %}
    My Cart
{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary text-center">
        {{ block('page_title') }}
    </h1>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="callout callout-primary mb-4">View items you have added to your cart.</div>

    {% if cart.cartItems|length == 0 %}
        <div class="callout callout-warning mb-4">No item have been added to your cart. Go to <a href="{{ url('frontend_index') }}" class="text-primary">Design Your Own</a> page and add the design to your cart in preview menu.</div>
    {% endif %}

    <form method="post">
        {% for key, cartItemForm in form.cartItems %}
            <div class="row">
                <div class="col-12 col-lg-3 mb-2">
                    <a href="{{ url('frontend_load_design', {'uuid': form.vars.value.cartItems[key].design.uuid}) }}"><img class="img-fluid" src="{{ form.vars.value.cartItems[key].design.frontSideThumbnailContent }}"></a>
                </div>
                <div class="col-12 col-lg-3 mb-2">
                    {{ form_row(cartItemForm.quantity) }}
                </div>
                <div class="col-12 col-lg-3 mb-2 text-center display-4">
                    <span class="d-inline d-lg-none">Price: </span>{{ form.vars.value.cartItems[key].unitPrice|money|format_currency('MYR') }}
                </div>
                <div class="col-12 col-lg-3 mb-2 text-lg-right text-center display-4 font-weight-bold">
                    <span class="d-inline d-lg-none">Total: </span>{{ form.vars.value.cartItems[key].total|money|format_currency('MYR') }}
                    <div class="d-block d-lg-inline">
                        <button class="btn btn-icon btn-danger remove-item" title="Remove this item"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}

        {#<div class="row">
            <div class="col-12 col-lg-9 mb-2 display-4 text-center text-lg-left">Grand Totals</div>
            <div class="col-12 col-lg-3 mb-2 display-4 font-weight-bold text-lg-right text-center ">{{ form.vars.value.total|money|format_currency('MYR') }}</div>
        </div>
        <hr>#}

        {% if cart.cartItems|length > 0 %}
        <div class="text-center d-flex justify-content-lg-center flex-column flex-lg-row">
            <button class="btn btn-xl btn-danger mb-2 mr-lg-2" name="cart[remove]" id="cart_remove"><i class="fad fa-save"></i> Clear Cart</button>
            <button class="btn btn-xl btn-secondary mb-2 mr-lg-2" name="cart[save]" id="cart_save"><i class="fad fa-save"></i> Update Cart</button>
            <button class="btn btn-xl btn-primary mb-2" name="cart[checkout]" id="cart_checkout"><i class="fad fa-arrow-right"></i> Checkout</button>
        </div>
        {% endif %}

        {{ form_widget(form._token) }}
    </form>
{% endblock %}

{% block page_js %}
    <script>
        $(document).ready(function() {
            $('.remove-item').click(function () {
                $(this).closest('.row').remove();
            });
        });
    </script>
{% endblock %}

