.light-style .sidenav .app-brand.demo {
    height: 66px;
}

.dark-style .sidenav .app-brand.demo {
    height: 66px;
}

.material-style .sidenav .app-brand.demo {
    height: 70px;
}

.app-brand-logo.demo {
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.app-brand-logo.demo svg {
    width: 20px;
    height: 11px;
}

.app-brand-text.demo {
    font-size: 1.1rem;
}

.layout-1 .layout-sidenav .app-brand.demo,
.layout-1 .layout-sidenav .app-brand.demo + .sidenav-divider,
.layout-reversed .layout-2 .layout-sidenav .app-brand.demo {
    display: none;
}

.layout-1 .layout-navbar .app-brand.demo,
.layout-reversed .layout-2 .layout-navbar .app-brand.demo {
    display: -ms-flexbox !important;
    display: flex !important;
}

.layout-1 .layout-navbar .layout-sidenav-toggle,
.layout-reversed .layout-2 .layout-navbar .layout-sidenav-toggle,
.layout-offcanvas .layout-navbar .layout-sidenav-toggle,
.layout-fixed-offcanvas .layout-navbar .layout-sidenav-toggle {
    display: block !important;
}

@media (min-width: 992px) {
    .layout-offcanvas .layout-sidenav .layout-sidenav-toggle,
    .layout-fixed-offcanvas .layout-sidenav .layout-sidenav-toggle {
        display: none;
    }
}

/* *****************************************************************************
 * Navbar
 */

.demo-navbar-messages .dropdown-toggle,
.demo-navbar-notifications .dropdown-toggle,
.demo-navbar-user .dropdown-toggle,
.demo-navbar-messages.b-nav-dropdown .nav-link,
.demo-navbar-notifications.b-nav-dropdown .nav-link,
.demo-navbar-user.b-nav-dropdown .nav-link {
    white-space: nowrap;
}

.demo-navbar-messages .dropdown-menu,
.demo-navbar-notifications .dropdown-menu {
    overflow: hidden;
    padding: 0;
}

@media (min-width: 992px) {
    .demo-navbar-messages .dropdown-menu,
    .demo-navbar-notifications .dropdown-menu {
        margin-top: .5rem;
        width: 22rem;
    }

    .demo-navbar-user .dropdown-menu {
        margin-top: .25rem;
    }
}


/* *****************************************************************************
 * Content
 */

.demo-vertical-spacing > * + * {
    margin-top: 1.875rem !important;
    margin-bottom: 0 !important;
}

.demo-vertical-spacing-sm > * + * {
    margin-top: .9375rem !important;
    margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg > * + * {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
}

.demo-inline-spacing > *,
.demo-paragraph-spacing > p > * {
    margin: 0 .375rem .9375rem 0 !important;
}

.demo-paragraph-spacing > p {
    margin: 0;
}

.demo-blocks > * {
    display: block !important;
}

html:not(.material-style) .material-style-only {
    display: none !important;
}

.rtl-only {
    display: none !important;
    text-align: left !important;
    direction: ltr !important;
}

[dir=rtl] .rtl-only {
    display: block !important;
}

/* *****************************************************************************
 * Layouts
 */

.layout-example-block {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.04);
    border-radius: 2px;
    background: rgba(0,0,0,.04);
    color: #c7254e;
}
.dark-style .layout-example-block {
    border-color: rgba(255,255,255,.2);
    background: rgba(255,255,255,.1);
}
.layout-example-block code {
    background: none;
    color: #666;
}
.dark-style .layout-example-block code {
    color: #fff;
}

.layout-example-block-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 500px;
}

.layout-example-block-sidenav {
    width: 24%;
    background: #607d8b !important;
}
.layout-example-block-sidenav code {
    color: #fff;
}

.layout-example-block-navbar {
    background: #3ca99e !important;
}
.layout-example-block-navbar code {
    color: #fff;
}

.layout-example-block-content {
    background: #9e9e9e !important;
}
.layout-example-block-content code {
    color: #fff;
}

.layout-example-block-1 .layout-example-block-content {
    width: 74%;
}

.layout-example-block-2 .layout-example-block-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 74%;
}
.layout-example-block-2 > .layout-example-block {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.layout-example-block-2 .layout-example-block-content {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.layout-example-block-1-no-sidenav .layout-example-block-content {
    width: 100%;
}

.layout-example-code {
    display: block;
    overflow: auto;
    margin: 0;
    padding: 30px;
    min-width: 0;
    width: 100%;
    background: #fff;
}

.dark-style .layout-example-code {
    background: #2f3238;
}

.layout-example-run {
    display: inline-block;
    margin: 3px;
    padding: 4px 6px;
    border: 1px solid #eee;
    background: transparent;
    white-space: nowrap;
    line-height: 1;
}

.dark-style .layout-example-run {
    border-color: rgba(255, 255, 255, .2);
}

.layout-example-block-3 .layout-example-block-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.layout-example-block-3 .layout-example-block-inner > .layout-example-block {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.layout-example-block-3 .layout-example-block-inner .layout-example-block-container-fluid {
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.layout-example-block-3 .layout-example-block-sidenav-horizontal {
    background: #607d8b !important;
}
.layout-example-block-3 .layout-example-block-container-fluid {
    background: #fff !important;
}
.layout-example-block-3 .layout-example-block-container-fluid code {
    color: #666 !important;
}
.layout-example-block-3 .layout-example-block-footer {
    background: #e6514a !important;
}

.dark-style .layout-example-block-content .layout-example-block:not(.layout-example-block-sidenav-horizontal) code {
    color: #666 !important;
}

.Arial{font-family:"Arial";}
.Helvetica{font-family:"Helvetica";}
.MyriadPro{font-family:"Myriad Pro";}
.Delicious{font-family:"Delicious";}
.Verdana{font-family:"Verdana";}
.Georgia{font-family:"Georgia";}
.Courier{font-family:"Courier";}
.ComicSansMS{font-family:"Comic Sans MS";}
.Impact{font-family:"Impact";}
.Monaco{font-family:"Monaco";}
.Optima{font-family:"Optima";}
.HoeflerText{font-family:"Hoefler Text";}
.Plaster{font-family:"Plaster";}
.Engagement{font-family:"Engagement";}

.ui-w-150 {
    width: 150px !important;
    height: auto;
}
