{% extends 'base.html.twig' %}

{% block page_title %}
    About
{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary text-center">
        {{ block('page_title') }}
    </h1>

    <p>This site is built for TODAK as an interview task. Follows is the resources and link attributions used in the building of the site.</p>

    <ul>
        <li><a href="https://github.com/imomin/CustomTShirt" rel="nofollow">https://github.com/imomin/CustomTShirt (MIT License)</a></li>
        <li><a href="https://www.freepik.com/psd/mockup">Mockup psd created by alexandercho - www.freepik.com (FREE - ATTRIBUTION REQUIRED)</a></li>
        <li><a href="https://www.freevector.com/dragon-symbol">FreeVector.com</a></li>
        <li><a href="https://www.freevector.com/royal-griffin">FreeVector.com</a></li>
        <li><a href="https://www.freevector.com/griffin-graphics">FreeVector.com</a></li>
        <li><a href="https://www.freevector.com/dragon-vector-graphics">FreeVector.com</a></li>
        <li><a href="https://graphicburger.com/t-shirt-mockup-psd-2/">T-Shirt Mockup</a></li>
        <li><a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a></li>
        <li><a href="https://www.pngkey.com/detail/u2a9o0i1w7e6y3r5_comingsoon-new-office-coming-soon/">https://www.pngkey.com/detail/u2a9o0i1w7e6y3r5_comingsoon-new-office-coming-soon/</a></li>
        <li><a href='https://www.freepik.com/vectors/logo'>Logo vector created by rawpixel.com - www.freepik.com</a></li>
        <li><a href='https://www.freepik.com/vectors/logo'>Logo vector created by rawpixel.com - www.freepik.com</a></li>
        <li><a href="https://na.finalfantasyxiv.com/lodestone/special/fankit/twitter_kit/">FFXIV Twitter Fan Kit</a></li>
    </ul>
{% endblock %}


