{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block page_title %}Design Your Own T-Shirt{% endblock %}

{% block container_class %} bg-white{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary d-none d-lg-block text-center">
         {{ block('page_title') }}
    </h1>
    <hr class="container-m-nx my-0">

    {% embed 'flash.html.twig' %}{% endembed %}

{#<!-- Layout sidenav -->
<div id="layout-sidenav" class="layout-sidenav-horizontal sidenav sidenav-horizontal flex-grow-0 bg-dark container-p-x">

    <!-- Links -->
    <ul class="sidenav-inner">

        <!-- Dashboards -->
        <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link"><i class="sidenav-icon ion ion-md-speedometer"></i>
                <div>Dashboards</div>
            </a>
        </li>
    </ul>
</div>#}

            <div class="row mt-0 mt-lg-4 bg-white main-editor-area p-0 p-lg-2">
        <div class="col-12 col-lg-6 mt-2">
            {% if products|length > 0 %}{{ form_start(form, {'attr': {'id': 'design-form'}}) }}{% endif %}
            <div class="nav-tabs-left bg-secondary" id="panel-tabs" style="z-index: 1050;">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active text-white d-flex flex-column align-items-center" id="product-type-nav-link" data-toggle="tab" href="#navs-left-responsive-link-1" style="min-width: 105px;">
                            <i class="fad fa-tshirt sidenav-icon"></i> <div>Type</div>
                        </a>
                    </li>
                    {% if products|length > 0 %}
                    <li class="nav-item editor-tab d-none">
                        <a class="nav-link text-white d-flex flex-column align-items-center" data-toggle="tab" href="#navs-left-responsive-link-2">
                            <i class="fad fa-palette sidenav-icon"></i> <div>Color</div>
                        </a>
                    </li>
                    <li class="nav-item editor-tab d-none">
                        <a class="nav-link text-white d-flex flex-column align-items-center" data-toggle="tab" href="#navs-left-responsive-link-3">
                            <i class="fad fa-text sidenav-icon"></i><div>Text</div>
                        </a>
                    </li>
                    <li class="nav-item editor-tab d-none">
                        <a class="nav-link text-white d-flex flex-column align-items-center" data-toggle="tab" href="#navs-left-responsive-link-4"><i class="fad fa-images sidenav-icon"></i>  <div>Art</div></a>
                    </li>
                    <li class="nav-item editor-tab d-none">
                        <a class="nav-link text-white d-flex flex-column align-items-center" data-toggle="tab" href="#navs-left-responsive-link-5"><i class="fad fa-upload sidenav-icon"></i>  <div>Upload</div></a>
                    </li>
                    <li class="nav-item editor-tab d-none">
                        <a class="nav-link text-white d-flex flex-column align-items-center" data-toggle="tab" href="#navs-left-responsive-link-6"><i class="fad fa-list-ol sidenav-icon"></i>  <div id="names-and-numbers-text">Names & Numbers</div></a>
                    </li>
                    <li class="nav-item editor-tab d-none">
                        <a class="nav-link text-white d-flex flex-column align-items-center preview-btn" data-toggle="tab" href="#navs-left-responsive-link-7"><i class="fad fa-eye sidenav-icon"></i>  <div>Preview</div></a>
                    </li>
                        {% if design.id is not null %}
                            <li class="nav-item editor-tab d-none">
                                <a class="nav-link text-white d-flex flex-column align-items-center" data-toggle="tab" href="#navs-left-responsive-link-8"><i class="fad fa-info-circle sidenav-icon"></i>  <div>Details</div></a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="tab-content w-100">
                    <div class="tab-pane fade active show" id="navs-left-responsive-link-1">
                        <div class="card-body">

                            <h3>Welcome!<br><small class="text-muted">First, please choose your base product.</small></h3>
                            {% if products|length > 0 %}
                            <div class="row">
                                {% for product in products %}
                                <div class="col-12 col-xl-6">
                                    <div class="card bg-secondary mb-4 product product-{{ product.code }}" data-product-type="{{ product.code }}">
                                        <div class="w-100">
                                            <a href="javascript:void(0)" class="card-img-top d-block ui-rect-60 ui-bg-cover select-product" style="background-image: url('{{ product.imagePath|imagine_filter('image_display') }}');" data-product-code="{{ product.code }}" data-front-side-image="{{ product.frontSideImagePath|imagine_filter('template_image') }}" data-back-side-image="{{ product.backSideImagePath|imagine_filter('template_image') }}">
                                                <div class="d-flex justify-content-between align-items-end ui-rect-content p-3">
                                                    <div class="flex-shrink-1">
                                                        <span class="badge badge-warning">Popular</span>
                                                    </div>
                                                    <div class="text-big">
                                                        <div class="badge badge-dark font-weight-bold">{{ product.basePrice|format_currency('MYR') }}</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body p-2">
                                            <h5 class="mb-0 pb-0" class="text-white">{{ product.name }}</h5>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                {#<div class="col-6">
                                                    <div class="card bg-dark mb-4">
                                                        <div class="w-100">
                                                            <a href="javascript:void(0)" class="card-img-top d-block ui-rect-75 ui-bg-cover" style="background-image: url('{{ asset('img/pngkey.com-coming-soon-png-27441.png') }}');">
                                                                <div class="d-flex justify-content-between align-items-end ui-rect-content p-3">

                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>#}
                            </div>
                            {% else %}
                                <div class="callout callout-danger">Unfortunately no product is available to be customized for the time being.</div>
                            {% endif %}
                        </div>
                    </div>
                    {% if products|length > 0 %}
                    <div class="tab-pane fade editor-panel d-none" id="navs-left-responsive-link-2">
                        {{ form_widget(form.product) }}
                        <div class="card-body">
                            <p class="text-muted">Select the T-Shirt color.</p>
                            {{ form_widget(form.backgroundColor, {'id':'tshirt-bgcolor'}) }}
                        </div>
                    </div>
                    <div class="tab-pane fade editor-panel d-none" id="navs-left-responsive-link-3">
                        <div class="card-body">
                            <p class="text-muted">Type in the text you want below and add the text into the editor by clicking the <i class="fa fa-plus"></i> button below.</p>
                            <p class="text-muted">To modify the text, either click or double click the text you want to modify in the editor.</p>
                            <div class="d-flex justify-content-between">
                                <input class="form-control flex-grow-1" id="text-string" type="text" placeholder="Add your text here">
                                <button id="add-text" type="button" class="btn btn-warning ml-1" title="Add text"><i class="fa fa-plus add-text-button"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade editor-panel d-none" id="navs-left-responsive-link-4">
                        <div class="card-body">
                            <p class="text-muted">Select image you want to use and it will be placed in the editor.</p>
                            {% if arts|length > 0 %}
                            <div id="avatarlist" class="row">
                                {% for art in arts %}
                                <div class="col-4 col-xl-3 mb-4">
                                    <img style="cursor:pointer;" class="img-polaroid img-fluid" src="{{ art.imagePath|imagine_filter('editor_image') }}">
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                                <div class="callout callout-danger">No arts have been added. Please come back later to use this feature.</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade editor-panel d-none" id="navs-left-responsive-link-5">
                        <div class="card-body">
                            <p class="text-muted">Upload your own image to be placed. Click inside the file area or by using the upload image button.</p>
                            <p class="text-center"><button class="btn btn-warning upload-image-btn" type="button">Upload Image</button></p>
                            {#<div class="d-flex justify-content-between">
                                                <label class="custom-file">
                                                    <input type="file" class="custom-file-input">
                                                    <span class="custom-file-label"></span>
                                                </label>
                                            </div>#}
                            <div data-url="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone needsclick" id="file-upload">
                                <div class="dz-message needsclick">
                                    Drop files here or click to upload
                                    <span class="note needsclick">(Max size is 10Mb and only JPEG and PNG types only)</span>
                                </div>
                                <div class="fallback">
                                    <input name="file" type="file" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade editor-panel d-none" id="navs-left-responsive-link-6">
                        <div class="card-body">
                            <p class="text-muted">Configure options for names and numbers. Additional <span class="badge badge-success">RM5</span> towards final price per name or number.</p>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">Step 1</th>
                                    <td>{{ form_widget(form.hasNames) }}</td>
                                    <td>{{ form_widget(form.hasNumbers) }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Side:</th>
                                    <td>{{ form_widget(form.namesSide) }}</td>
                                    <td>{{ form_widget(form.numbersSide) }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Height:</th>
                                    <td>{{ form_widget(form.namesHeight) }}</td>
                                    <td>{{ form_widget(form.numbersHeight) }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Color:</th>
                                    <td>{{ form_widget(form.namesColor, {'id':'name-placeholder-bgcolor'}) }}</td>
                                    <td>{{ form_widget(form.numbersColor, {'id':'number-placeholder-bgcolor'}) }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="names-and-numbers-area">
                                <div class="callout callout-dark mb-4"><code>YOUR NAME</code> and <code>00</code> text are sample placeholder meant to be replaced with the name and number you specified when ordering. Our designer will adjust accordingly before it will be sent for production.</div>
                                {#<table class="table">
                                    <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Name</td>
                                        <td>Number</td>
                                    </tr>
                                    </thead>
                                    <tbody class="name-and-number-tbody" data-index="{{ index }}" data-name-prototype="{{ form_widget(form.designNames.vars.prototype.position)|e('html_attr') }}{{ form_widget(form.designNames.vars.prototype.value)|e('html_attr') }}" data-number-prototype="{{ form_widget(form.designNumbers.vars.prototype.position)|e('html_attr') }}{{ form_widget(form.designNumbers.vars.prototype.value)|e('html_attr') }}">
                                    {% if index > 0 %}
                                        {% set _indexes = 0..(index - 1) %}
                                        {% for _index in _indexes  %}
                                        <tr class="name-number-row">
                                            <td class="index-column">{{ loop.index }}</td>
                                            <td class="name-column">
                                                {% if form.designNames[_index].position is defined %}
                                                {{ form_widget(form.designNames[_index].position) }}
                                                {{ form_widget(form.designNames[_index].value) }}
                                                {% else %}
                                                {% endif %}
                                            </td>
                                            <td class="number-column">
                                                {% if form.designNumbers[_index].position is defined %}
                                                {{ form_widget(form.designNumbers[_index].position) }}
                                                {{ form_widget(form.designNumbers[_index].value) }}
                                                {% else %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                                <p class="text-center"><button type="button" class="btn btn-warning add-name-number-btn" disabled>Add Names/Numbers</button> <button type="button" class="btn btn-danger remove-name-number-btn">Remove Names/Numbers</button></p>#}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade editor-panel d-none" id="navs-left-responsive-link-7">
                        <div class="card-body">
                            <div class="callout callout-primary mb-4">Preview your design here and if you're satisfied, proceed with order by clicking the order design button below</div>

                            <div class="order-details">
                                <div class="card mb-4">
                                    <div class="card-body p-0">
                                        <div class="images-result row"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body text-center p-0">
                                    <div class="row">
                                        {% if (design.user and app.user == design.user) or design.user is null %}
                                        <div class="col-12 mb-2">
                                            <button type="button" id="save-btn" class="btn btn-warning btn-lg w-100 btn-block"><i class="fad fa-save"></i> Save This Design</button>
                                        </div>
                                        {% endif %}
                                        <div class=" col-12 mb-2">
                                            <button type="button" id="add-to-cart-btn" class="btn btn-primary btn-lg w-100 btn-block"><i class="fad fa-shopping-cart"></i> Add Design To Cart</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% if design.id is not null %}
                            <div class="tab-pane fade editor-panel d-none" id="navs-left-responsive-link-8">
                                <div class="card mb-4">
                                    <h6 class="card-header">Design details</h6>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="text-muted mb-2">Design Link</div>
                                            <div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input id="design-link" type="text" class="form-control" value="{{ url('frontend_load_design', {'uuid': design.uuid}) }}">
                                                        <span class="input-group-append">
                                                          <button class="btn btn-secondary clipboard-btn" id="copy-design-link-btn" type="button" data-clipboard-action="copy" data-clipboard-target="#design-link" data-toggle="tooltip" data-placement="bottom" data-state="primary" data-trigger="click" title data-original-title="Copied!"><i class="fad fa-copy"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="text-muted">Date Created</div>
                                            <div>{{ design.createdAt|date('Y-m-d h:i A') }}</div>
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="text-muted">Date Last Updated</div>
                                            <div>{{ design.updatedAt|date('Y-m-d h:i A') }}</div>
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item{% if design.user %} d-flex justify-content-between align-items-center{% endif %}">
                                            <div class="text-muted">Original Designer</div>
                                            <div>
                                            {% if design.user %}
                                                {{ design.user.name }}
                                            {% elseif app.user %}
                                                <p>No one have claimed this design.</p>
                                                <p><a href="{{ url('frontend_claim_design', {'uuid': design.uuid}) }}" class="btn btn-primary">Claim This Design!</a></p>
                                            {% else %}
                                                <p>No one have claimed this design.</p>
                                                <p><a href="{{ url('app_login') }}">Login or sign up</a> to claim this design!</p>
                                            {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if products|length > 0 %}{{ form_end(form) }}{% endif %}
        </div>
        {% if products|length > 0 %}
        <div class="col-12 col-lg-6 d-none editor-area">
            <div class="sticky-top">
                <div class="position-relative mt-2">
                    <div class="position-absolute top-0 start-50 translate-middle-x" style="z-index: 999;">
                        <div style="min-height: 32px;">
                            <div id="texteditor" style="display:none">
                                <div class="btn-group mb-2">
                                    <button id="font-family" class="btn dropdown-toggle  btn-secondary" data-toggle="dropdown" title="Font Style" type="button"><i class="fa fa-font" style="width:19px;height:19px;"></i></button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="font-family-X">
                                        <li><a tabindex="-1" href="#" onclick="setFont('Arial');" class="Arial">Arial</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Helvetica');" class="Helvetica">Helvetica</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Myriad Pro');" class="MyriadPro">Myriad Pro</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Delicious');" class="Delicious">Delicious</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Verdana');" class="Verdana">Verdana</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Georgia');" class="Georgia">Georgia</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Courier');" class="Courier">Courier</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Comic Sans MS');" class="ComicSansMS">Comic Sans MS</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Impact');" class="Impact">Impact</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Monaco');" class="Monaco">Monaco</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Optima');" class="Optima">Optima</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Hoefler Text');" class="Hoefler Text">Hoefler Text</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Plaster');" class="Plaster">Plaster</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setFont('Engagement');" class="Engagement">Engagement</a></li>
                                    </ul>
                                    {#</div>

                                            <div class="btn-group">
                                                <button id="font-size" class="btn dropdown-toggle  btn-secondary" data-toggle="dropdown" title="Font Style"><i class="fa fa-text-size" style="width:19px;height:19px;"></i></button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="font-size-X">
                                                    <li><a tabindex="-1" href="#" onclick="setFontSize(8);">8</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFontSize(14);">14</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFontSize(24);">24</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFontSize(70);">70</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Helvetica');" class="Helvetica">Helvetica</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Myriad Pro');" class="MyriadPro">Myriad Pro</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Delicious');" class="Delicious">Delicious</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Verdana');" class="Verdana">Verdana</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Georgia');" class="Georgia">Georgia</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Courier');" class="Courier">Courier</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Comic Sans MS');" class="ComicSansMS">Comic Sans MS</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Impact');" class="Impact">Impact</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Monaco');" class="Monaco">Monaco</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Optima');" class="Optima">Optima</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Hoefler Text');" class="Hoefler Text">Hoefler Text</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Plaster');" class="Plaster">Plaster</a></li>
                                                    <li><a tabindex="-1" href="#" onclick="setFont('Engagement');" class="Engagement">Engagement</a></li>
                                                </ul>#}
                                    <button id="text-bold" class="btn btn-secondary" data-original-title="Bold" type="button"><i class="fa fa-bold"></i></button>
                                    <button id="text-italic" class="btn btn-secondary" data-original-title="Italic" type="button"><i class="fa fa-italic"></i></button>
                                    <button id="text-strike" class="btn btn-secondary" title="Strike" style="" type="button"><i class="fa fa-strikethrough"></i></button>
                                    <button id="text-underline" class="btn btn-secondary" title="Underline" style="" type="button"><i class="fa fa-underline"></i></button>
                                </div>
                                <div class="btn-group mb-2">
                                    <a class="btn btn-secondary p-0" href="#" rel="tooltip" data-placement="top" data-original-title="Font Color"><input type="text" class="form-control minicolors" id="text-fontcolor" value="#000000"></a>
                                    <a class="btn btn-secondary p-0" href="#" rel="tooltip" data-placement="top" data-original-title="Font Border Color"><input type="text" class="form-control minicolors" id="text-strokecolor" value="#000000"></a>
                                    <a class="btn btn-secondary p-0" href="#" rel="tooltip" data-placement="top" data-original-title="Font Border Width"><input type="number" class="form-control" id="text-strokewidth" placeholder="Font Border Width" min="0" max="5" value="1"></a>
                                </div>
                                <div class="btn-group mb-2">
                                    <button id="text-effect" class="btn dropdown-toggle  btn-secondary" data-toggle="dropdown" title="Text Effect" type="button"><i class="fa fa-font-case" style="width:19px;height:19px;"></i></button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="text-effect-X">
                                        <li><a tabindex="-1" href="#" onclick="setTextEffect('remove-effect');">No Effect</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setTextEffect('curved');">Curved</a></li>
                                        <li><a tabindex="-1" href="#" onclick="setTextEffect('bulge');">Bulge</a></li>
                                    </ul>
                                </div>
                                <!--- Background <input type="hidden" id="text-bgcolor" class="color-picker" size="7" value="#ffffff"> --->
                            </div>
                            <div id="imageeditor" style="display:none">
                                <div class="btn-group mb-2">
                                    <button class="btn btn-secondary" id="bring-to-front" title="Bring to Front" type="button"><i class="fa fa-bring-front rotate" style="height:19px;"></i></button>
                                    <button class="btn btn-secondary" id="send-to-back" title="Send to Back" type="button"><i class="fa fa-send-back rotate" style="height:19px;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="pt-5" id="shirtDivContainer">
                        <!--	EDITOR      -->
                        <div id="shirtDiv" class="page mx-auto" style="width: 530px; height: 630px; position: relative;">
                            <img id="tshirtFacing" src="" class="img-fluid">
                            <div id="drawingArea" style="position: absolute;top: 100px;left: 160px;z-index: 10;width: 200px;height: 400px;">
                                <canvas id="tcanvas" width=200 height="400" class="hover" style="-webkit-user-select: none;"></canvas>
                            </div>

                            <button id="flip" type="button" class="btn btn-xl icon-btn btn-outline-primary rounded-pill" title="Show Back View" data-original-title="Show Back View" style="position: absolute;top: 40px;right: 0px;z-index: 10;" data-front-side-image data-back-side-image><i class="fad fa-repeat-alt" style="height:19px;"></i></button>
                        </div>
                        <!--					<div id="shirtBack" class="page" style="width: 530px; height: 630px; position: relative; background-color: rgb(255, 255, 255); display:none;">-->
                        <!--						<img src="img/crew_back.png"></img>-->
                        <!--						<div id="drawingArea" style="position: absolute;top: 100px;left: 160px;z-index: 10;width: 200px;height: 400px;">					-->
                        <!--							<canvas id="backCanvas" width=200 height="400" class="hover" style="-webkit-user-select: none;"></canvas>-->
                        <!--						</div>-->
                        <!--					</div>						-->

                        <!--	/EDITOR		-->
                    </div>
                </div>
            </div>
        </div>


        <canvas hidden width="530" height="630" id="fcanvas" data-bg="" style="display: none !important;"></canvas>
        <canvas hidden width="530" height="630" id="bcanvas" data-bg="" style="display: none !important;"></canvas>
        {% endif %}
    </div>
{% endblock content %}

{% block page_js %}
    <script src="{{ asset('assets/vendor/libs/fabric/fabric.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/fabric/fabric.curvedText.2.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/minicolors/minicolors.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/dropzone/dropzone.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/block-ui/block-ui.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/clipboard/clipboard.js') }}"></script>
    <script src="{{ asset('assets/vendor/js/layout-helpers.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/editor.js') }}"></script>

    <script>
        var isLoggedIn = {{ app.user ? 'true' : 'false' }};
    </script>
{% endblock %}

{% block page_css %}
    <style>
        .select-product {
            border-top: 5px solid #8898A9;
            border-left: 5px solid #8898A9;
            border-right: 5px solid #8898A9;
        }
        .product-selected {
            border-top-color: #775cdc;
            border-right-color: #775cdc;
            border-left-color: #775cdc;
        }
        #panel-tabs.nav-tabs-bottom.fixed-bottom .nav {
            white-space: nowrap;
            display:block!important;
            flex-wrap: nowrap;
            max-width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }
        #panel-tabs.nav-tabs-bottom.fixed-bottom .nav li {
            display: inline-block;
        }
        #panel-tabs.nav-tabs-bottom.fixed-bottom .tab-content {
            overflow-y:scroll;
        }
    </style>
{% endblock %}

{% block page_head_meta %}
    {% if design.id is not null %}
    <meta property="og:image" content="{{ url('frontend_generate_ogimage', {'uuid': design.uuid}) }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="530">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url('frontend_load_design', {'uuid': design.uuid}) }}"/>
    <meta property="og:title" content="T-Shirt Designer" />
    <meta property="og:description" content="Create your own T-Shirt designs!" />
    {% endif %}
{% endblock %}
