<form method="post" action="{{ path('admin_art_delete', {'id': art.id}) }}" id="admin_art_delete_form" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ art.id) }}">
</form>
