{{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('admin_art_index') }}" class="btn btn-secondary">Back to List</a>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

    {#{% if button_label is defined and button_label == 'Update' %}
    <button class="btn btn-danger" form="admin_art_delete_form">Delete</button>
    {% endif %}#}
{{ form_end(form) }}
