{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Edit Art{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">Edit Art "{{ art }}"</h4>

    {{ include('admin/art/_form.html.twig', {'button_label': 'Update'}) }}

    {#{{ include('admin/art/_delete_form.html.twig') }}#}
{% endblock %}
