{% extends 'base.html.twig' %}

{% block title %}View Art{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">View Art "{{ art }}"</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>ImagePath</th>
                <td><img src="{{ art.imagePath|imagine_filter('image_display') }}"></td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ art.createdAt ? art.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{{ art.updatedAt ? art.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ art.isEnabled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_art_index') }}" class="btn btn-secondary">Back to List</a>

    <a href="{{ path('admin_art_edit', {'id': art.id}) }}" class="btn btn-primary">Edit</a>

    {#<button class="btn btn-danger" form="admin_art_delete_form">Delete</button>
    {{ include('admin/art/_delete_form.html.twig') }}#}
{% endblock %}
