<!DOCTYPE html>

<html lang="en" class="dark-style layout-collapsed layout-fixed">

<head>
    <title>{% block page_title %}T-Shirt Designer{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <meta name="referrer" content="never">
    <meta name="referrer" content="no-referrer">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">

    {% block page_head_meta %}{% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/fontawesome/css/all.css') }}">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/bootstrap-dark.css') }}" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/appwork-dark.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/theme-gradient-dark.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/colors-dark.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/uikit.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/minicolors/minicolors.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/dropzone/dropzone.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/spinkit/spinkit.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/featherlight/featherlight.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/featherlight/featherlight.gallery.min.css') }}">

    <!-- Load polyfills -->
    <script src="{{ asset('assets/vendor/js/polyfills.js') }}"></script>
    <script>document['documentMode']===10&&document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>

    <script src="{{ asset('assets/vendor/js/material-ripple.js') }}"></script>
    <script src="{{ asset('assets/vendor/js/layout-helpers.js') }}"></script>

    <!-- Core scripts -->
    <script src="{{ asset('assets/vendor/js/pace.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('assets/vendor/libs/select2/select2.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/featherlight/featherlight.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/featherlight/featherlight.gallery.min.js') }}"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/growl/growl.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/toastr/toastr.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% block page_css %}{% endblock %}
</head>

<body>
{% block page_body %}
<div class="page-loader">
    <div class="bg-primary"></div>
</div>

<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
    <div class="layout-inner">

        <!-- Layout sidenav -->
        <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-sidenav-theme fixed">
            <div class="app-brand demo">
          <span class="app-brand-logo demo bg-primary">
            <svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>
          </span>
                <a href="{{ url('frontend_index') }}" class="app-brand-text demo sidenav-text font-weight-normal ml-2">T-Shirt Designer</a>
                <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                    <i class="ion ion-md-menu align-middle"></i>
                </a>
            </div>
            <div class="sidenav-divider mt-0"></div>

            <!-- Links -->
            <ul class="sidenav-inner py-1 ps">

                <!-- Dashboards -->
                <li class="sidenav-item active">
                    <a href="{{ url('frontend_index') }}" class="sidenav-link">
                        <i class="sidenav-icon fad fa-pencil-ruler"></i>
                        <div>Design Your Own</div>
                    </a>
                </li>

                <li class="sidenav-item">
                    <a href="{{ url('frontend_cart') }}" class="sidenav-link">
                        <i class="sidenav-icon fad fa-shopping-cart"></i>
                        <div>My Cart</div>
                    </a>
                </li>

                {% if app.user %}
                    <li class="sidenav-divider mb-1"></li>

                    <li class="sidenav-header small font-weight-semibold">MY ACCOUNT</li>

                    <li class="sidenav-item">
                        <a href="{{ url('frontend_user_designs') }}" class="sidenav-link"><i class="sidenav-icon fad fa-palette"></i>
                            <div>My Designs</div>
                        </a>
                    </li>

                    <li class="sidenav-item">
                        <a href="{{ url('frontend_user_images') }}" class="sidenav-link"><i class="sidenav-icon fad fa-images"></i>
                            <div>My Custom Images</div>
                        </a>
                    </li>

                    <li class="sidenav-item">
                        <a href="{{ url('frontend_user_orders_index') }}" class="sidenav-link"><i class="sidenav-icon fad fa-shopping-bag"></i>
                            <div>My Orders</div>
                        </a>
                    </li>

                    <li class="sidenav-item">
                        <a href="{{ url('frontend_user_profile') }}" class="sidenav-link"><i class="sidenav-icon fad fa-user"></i>
                            <div>My Profile</div>
                        </a>
                    </li>

                    <li class="sidenav-item">
                        <a href="{{ url('app_logout') }}" class="sidenav-link"><i class="sidenav-icon fad fa-sign-out"></i>
                            <div>Log Out</div>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="sidenav-divider mb-1"></li>

                    <li class="sidenav-header small font-weight-semibold">ADMINISTRATION</li>

                    <li class="sidenav-item">
                        <a href="{{ url('admin_order_index') }}" class="sidenav-link"><i class="sidenav-icon fad fa-shopping-bag"></i>
                            <div>Manage Orders</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="{{ url('admin_product_index') }}" class="sidenav-link"><i class="sidenav-icon fad fa-tshirt"></i>
                            <div>Manage Products</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="{{ url('admin_art_index') }}" class="sidenav-link"><i class="sidenav-icon fad fa-images"></i>
                            <div>Manage Arts</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="{{ url('admin_user_index') }}" class="sidenav-link"><i class="sidenav-icon fad fa-users"></i>
                            <div>Manage Users</div>
                        </a>
                    </li>
                {% endif %}

                <li class="sidenav-divider mb-1"></li>

                <li class="sidenav-header small font-weight-semibold">SITE</li>

                {% if not app.user %}
                    <li class="sidenav-item">
                        <a href="{{ url('app_login') }}" class="sidenav-link"><i class="sidenav-icon fad fa-sign-in"></i>
                            <div>Log In/Sign Up</div>
                        </a>
                    </li>
                {% endif %}

                <li class="sidenav-item">
                    <a href="{{ url('frontend_about') }}" class="sidenav-link"><i class="sidenav-icon fad fa-info-circle"></i>
                        <div>About This Site</div>
                    </a>
                </li>

            </ul>
        </div>
        <!-- / Layout sidenav -->

        <!-- Layout container -->
        <div class="layout-container">

            <!-- Layout navbar -->
            {#<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center container-p-x bg-navbar-theme" id="layout-navbar">

                <!-- Brand demo (see assets/css/demo/demo.css) -->
                <a href="{{ url('frontend_index') }}" class="navbar-brand app-brand demo d-lg-none py-0 m-2">
          <span class="app-brand-logo demo bg-primary">
            <svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>
          </span>
                    <span class="app-brand-text demo font-weight-normal ml-2">T-Shirt Designer</span>
                </a>
                <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
                    <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
                        <i class="ion ion-md-menu text-large align-middle"></i>
                    </a>
                </div>
            </nav>#}
            <!-- / Layout navbar -->

            <!-- Layout content -->
            <div class="layout-content">

                <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center justify-content-start container-p-x bg-navbar-theme d-lg-none" id="layout-navbar">

                    <!-- Sidenav toggle (see assets/css/demo/demo.css) -->
                    <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-3">
                        <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
                            <i class="far fa-bars text-large align-middle"></i>
                        </a>
                    </div>

                    <!-- Brand demo (see assets/css/demo/demo.css) -->
                    <a href="{{ url('frontend_index') }}" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
            <span class="app-brand-logo demo bg-primary">
              <svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>
            </span>
                        <span class="app-brand-text demo font-weight-normal ml-2">T-Shirt Designer</span>
                    </a>
                </nav>

                <!-- Content -->
                <div class="container-fluid flex-grow-1 {% block container_padding %}container-p-y{% endblock %}{% block container_class %}{% endblock %}">
                    {% block content %}{% endblock content %}
                </div>
                <!-- / Content -->

                {% block footer %}
                <!-- Layout footer -->
                <nav class="layout-footer footer bg-footer-theme">
                    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
                        <div class="pt-3">
                            <span class="footer-text font-weight-bolder">T-Shirt Designer</span> ©
                        </div>
                    </div>
                </nav>
                <!-- / Layout footer -->
                {% endblock footer %}

            </div>
            <!-- Layout content -->

        </div>
        <!-- / Layout container -->

    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core scripts -->
<script src="{{ asset('assets/vendor/libs/popper/popper.js') }}"></script>
<script src="{{ asset('assets/vendor/js/bootstrap.js') }}"></script>
<script src="{{ asset('assets/vendor/js/sidenav.js') }}"></script>

<!-- Libs -->
<script src="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ asset('assets/vendor/libs/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
{% block page_js_libs %}{% endblock %}

<!-- Main -->
<script src="{{ asset('assets/js/main.js') }}"></script>

{% block page_js %}{% endblock %}
{% endblock page_body %}
</body>

</html>
