{% for message in app.flashes('success') %}
    <div class="alert alert-dark-success alert-dismissible{{ no_margin|default(false) ? ' mb-0' : '' }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-dark-danger alert-dismissible{{ no_margin|default(false) ? ' mb-0' : '' }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('danger') %}
    <div class="alert alert-dark-danger alert-dismissible{{ no_margin|default(false) ? ' mb-0' : '' }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('info') %}
    <div class="alert alert-dark-info alert-dismissible{{ no_margin|default(false) ? ' mb-0' : '' }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="alert alert-dark-warning alert-dismissible{{ no_margin|default(false) ? ' mb-0' : '' }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}
