{% extends 'base.html.twig' %}

{% block page_title %}
    My Designs
{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary text-center">
        {{ block('page_title') }}
    </h1>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="callout callout-primary mb-4">Manage and review all designs you have saved previously.</div>

    {% if designs|length == 0 %}
        <div class="callout callout-warning">No designs have been saved. Go to <a href="{{ url('frontend_index') }}" class="text-primary">Design Your Own</a> page and save your design from the preview tab.</div>
    {% endif %}

    <div class="row">
        {% for design in designs %}
            <div class="col col-md-4 col-xl-3">
                <div class="card mb-4">
                    {% set thumbnail = design.frontSideThumbnailContent %}
                    {% set thumbnail_back = design.backSideThumbnailContent %}
                    {% if thumbnail is not null or thumbnail_back is not null %}
                    <img id="thumbnail-{{ design.uuid }}" class="card-img-top card-thumbnail" src="{{ thumbnail is not null ? thumbnail : thumbnail_back }}" alt="{{ design.uuid }}">
                        {% if thumbnail is not null and thumbnail_back is not null %}
                        <div class="card-img-overlay text-primary text-right p-2">
                            <button type="button" class="btn btn-primary icon-btn rounded-pill flip-preview" data-current-side="{{ thumbnail is not null ? 'front' : 'back' }}" data-front-src="{{ thumbnail }}" data-back-src="{{ thumbnail_back }}" data-uuid="{{ design.uuid }}"><i class="fad fa-repeat-alt"></i></button>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="card-header">
                            No preview available
                        </div>
                    {% endif %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="text-muted">Created</div>
                            <div>{{ design.createdAt|date('Y-m-d h:i A') }}</div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="text-muted">Last Updated</div>
                            <div>{{ design.updatedAt|date('Y-m-d h:i A') }}</div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ url('frontend_load_design', {'uuid': design.uuid}) }}" class="btn btn-primary btn-block"><i class="fad fa-edit"></i>&nbsp;&nbsp;View/Edit</a>
                        </li>
                    </ul>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block page_js %}
    <script>
        $(document).ready(function () {
            $('.flip-preview').on('click', function () {
                var $thumbnail = $('#thumbnail-' + $(this).data('uuid'));

                if ($(this).data('current-side') === 'front') {
                    $thumbnail.attr('src', $(this).data('back-src'));
                    $(this).data('current-side', 'back');
                } else {
                    $thumbnail.attr('src', $(this).data('front-src'));
                    $(this).data('current-side', 'front');
                }
            });
        });
    </script>
{% endblock %}

