{% extends 'base.html.twig' %}

{% block page_title %}
    My Custom Images
{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary text-center">
        {{ block('page_title') }}
    </h1>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="callout callout-primary mb-4">Manage and review all custom images you have uploaded for the editor.</div>

    {% if images|length == 0 %}
        <div class="callout callout-warning">No image have been uploaded. Go to <a href="{{ url('frontend_index') }}" class="text-primary">Design Your Own</a> page and upload custom images using the upload menu.</div>
    {% endif %}

    <div class="row">
        {% for image in images %}
        <div class="col col-md-4 col-xl-3">
            <div class="card mb-4">
                <img class="card-img-top" src="{{ image.webPath|imagine_filter('image_list') }}" alt="{{ image.originalName }}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">File Name</div>
                        <div>{{ image.originalName }}</div>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Date Uploaded</div>
                        <div>{{ image.createdAt|date('Y-m-d h:i A') }}</div>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ url('frontend_user_image_delete', {'uuid': image.uuid}) }}" class="btn btn-danger btn-block"><i class="fad fa-trash"></i>&nbsp;&nbsp;Remove</a>
                    </li>
                </ul>
            </div>

        </div>
        {% endfor %}
    </div>

{% endblock %}


