{% extends 'base.html.twig' %}

{% block page_title %}
    My Profile
{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary text-center">
        {{ block('page_title') }}
    </h1>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="callout callout-primary mb-4">View and update your profile.</div>

    {{ form(form) }}

{% endblock %}

