<form method="post" action="{{ path('admin_product_delete', {'id': product.id}) }}" id="admin_product_delete_form" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
</form>
