{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="mb-3">
    <div class="row">
        <div class="col col-lg-4">
            <div class="callout callout-primary mb-3">
                Due to lack of mockup image, product will always use this image as the front side base template.
            </div>
            <img class="img-fluid" src="{{ asset('assets/img/crew_front.png') }}">
        </div>

        <div class="col col-lg-4">
            <div class="callout callout-primary mb-3">
                Due to lack of mockup image, product will always use this image as the back side base template.
            </div>
            <img class="img-fluid" src="{{ asset('assets/img/crew_back.png') }}">
        </div>
    </div>
</div>

    <a href="{{ path('admin_product_index') }}" class="btn btn-secondary">Back to List</a>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

    {#{% if button_label is defined and button_label == 'Update' and product.isDeleteable %}
    <button class="btn btn-danger" form="admin_product_delete_form">Delete</button>
    {% endif %}#}
{{ form_end(form) }}
