{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">Edit Product "{{ product }}"</h4>

    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

    {#{{ include('admin/product/_delete_form.html.twig') }}#}
{% endblock %}
