{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}New Product{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">Create New Product</h4>

    {{ include('admin/product/_form.html.twig') }}
{% endblock %}
