{% extends 'base.html.twig' %}

{% block title %}View Product{% endblock %}

{% block content %}
    <h4 class="font-weight-bold py-3 mb-4">View Product "{{ product }}"</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ product.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Base Price</th>
                <td>{{ product.basePrice }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.isEnabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Product Image</th>
                <td><img src="{{ product.imagePath|imagine_filter('image_display') }}"></td>
            </tr>
            <tr>
                <th>Front Side Image</th>
                <td><img src="{{ product.frontSideImagePath|imagine_filter('image_display') }}"></td>
            </tr>
            <tr>
                <th>Back Side Image</th>
                <td><img src="{{ product.backSideImagePath|imagine_filter('image_display') }}"></td>
            </tr>
            <tr>
                <th>Date Added</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Last Updated</th>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_product_index') }}" class="btn btn-secondary">Back to List</a>

    <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-primary">Edit</a>

    {#{% if product.isDeleteable %}
        <button class="btn btn-danger" form="admin_product_delete_form">Delete</button>
        {{ include('admin/product/_delete_form.html.twig') }}
    {% endif %}#}
{% endblock %}
