{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block page_title %}
    Checkout
{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary text-center">
        {{ block('page_title') }}
    </h1>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="callout callout-primary mb-4">Before we can create your order, we need a little more info about your order. Don't worry it won't be long!</div>

    <form method="post">
        <h1 class="display-4 text-secondary text-center">
            Order Items Details
        </h1>

        {% for key, orderItemForm in form.orderItems %}
            <div class="row mb-2">
                <div class="col-12 col-lg-3 mb-2">
                    <a href="{{ url('frontend_load_design', {'uuid': form.vars.value.orderItems[key].design.uuid}) }}"><img class="img-fluid" src="{{ form.vars.value.orderItems[key].design.frontSideThumbnailContent }}"></a>
                </div>
                <div class="col-12 col-lg-3 mb-2 text-center text-right">
                    {{ form_row(orderItemForm.quantity) }}
                </div>
                <div class="col-12 col-lg-3 mb-2 text-center display-4">
                    <span class="d-inline d-lg-none">Price: </span>{{ form.vars.value.orderItems[key].unitPrice|money|format_currency('MYR') }}
                </div>
                <div class="col-12 col-lg-3 mb-2 text-lg-right text-center display-4 font-weight-bold">
                    <span class="d-inline d-lg-none">Total: </span>{{ form.vars.value.orderItems[key].total|money|format_currency('MYR') }}
                </div>
            </div>
            <div class="card table-responsive mb-4">
                <div class="card-header">Choose Item Types And Sizes</div>
                <div class="table-responsive">
                    <table class="table card-table">
                        <thead class="thead-light">
                        <tr>
                            <th class="w-25">Type</th>
                            <th class="w-25">Size</th>
                            <th class="w-25">Quantity</th>
                            <th class="w-25">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="item-variants" data-type-prototype="{{ form_widget(orderItemForm.orderItemVariants.vars.prototype.type)|e }}" data-size-prototype="{{ form_widget(orderItemForm.orderItemVariants.vars.prototype.size)|e }}" data-quantity-prototype="{{ form_widget(orderItemForm.orderItemVariants.vars.prototype.quantity)|e }}">
                        {% for key, orderItemVariantForm in orderItemForm.orderItemVariants %}
                            <tr>
                                <td class="type-column">{{ form_widget(orderItemVariantForm.type) }}</td>
                                <td class="size-column">{{ form_widget(orderItemVariantForm.size) }}</td>
                                <td class="quantity-column">{{ form_widget(orderItemVariantForm.quantity) }}</td>
                                <td class="action-column">{% if not loop.first %}<button class="btn btn-sm btn-danger btn-icon remove-row-btn"><i class="fa fa-times"></i></button>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-center"><button id="add-another-type-size" class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add Another Type/Size</button></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            {% if orderItemForm.orderItemCustomNames is defined %}
            <div class="card table-responsive">
                <div class="card-header">Specify Names For Printing</div>
                <div class="table-responsive">
                    <table class="table card-table">
                        <thead class="thead-light">
                        <tr>
                            <th class="w-75">Name</th>
                            <th class="w-25">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="item-names" data-value-prototype="{{ form_widget(orderItemForm.orderItemCustomNames.vars.prototype.value)|e }}" data-position-prototype="{{ form_widget(orderItemForm.orderItemCustomNames.vars.prototype.position)|e }}">
                        {% for key, orderItemCustomNameForm in orderItemForm.orderItemCustomNames %}
                            <tr>
                                <td class="value-column">
                                    {{ form_widget(orderItemCustomNameForm.value) }}
                                    {{ form_widget(orderItemCustomNameForm.position) }}
                                </td>
                                <td class="action-column">{% if not loop.first %}<button class="btn btn-sm btn-danger btn-icon remove-row-btn"><i class="fa fa-times"></i></button>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-center"><button id="add-another-name" class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add Another Name</button></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            {% endif %}

            <hr class="mt-4">
        {% endfor %}

        <h1 class="display-4 text-secondary text-center">
            Shipping Details
        </h1>

        {{ form_widget(form.orderShipping) }}
        <hr class="mt-4">

        <h1 class="display-4 text-secondary text-center">
            Notes
        </h1>
        {{ form_widget(form.notes) }}
        <hr class="mt-4">

        <div class="text-center">
            <button class="btn btn-primary btn-xl">Finalize Order <i class="fad fa-arrow-right"></i></button>
        </div>

        {{ form_widget(form._token) }}
    </form>
{% endblock %}

{% block page_js %}
    <script>
        $(document).ready(function() {
            var $itemVariantsCollectionHolder = $('#item-variants');

            $('#add-another-type-size').click(function() {
                var itemVariantTypePrototype = $('#item-variants').data('type-prototype');
                var itemVariantSizePrototype = $('#item-variants').data('size-prototype');
                var itemVariantQuantityPrototype = $('#item-variants').data('quantity-prototype');

                var index = $itemVariantsCollectionHolder.children('tr').length;

                itemVariantTypePrototype = itemVariantTypePrototype.replace(/__name__/g, index);
                itemVariantSizePrototype = itemVariantSizePrototype.replace(/__name__/g, index);
                itemVariantQuantityPrototype = itemVariantQuantityPrototype.replace(/__name__/g, index);

                $itemVariantsCollectionHolder.data('index', index + 1);

                var $newElem = $('<tr><td class="type-column"></td><td class="size-column"></td><td class="quantity-column"</td><td class="action-column"><button class="btn btn-sm btn-danger btn-icon remove-row-btn"><i class="fa fa-times"></i></button></td></tr>');

                $newElem.find('.type-column').html(itemVariantTypePrototype);
                $newElem.find('.size-column').html(itemVariantSizePrototype);
                $newElem.find('.quantity-column').html(itemVariantQuantityPrototype);

                $itemVariantsCollectionHolder.append($newElem);
            });

            var $orderItemQuantity = $('.order-item-quantity');

            $('#item-variants').on('change', '.variant-quantity', function () {
                let totalQuantity = 0;

                $('.variant-quantity').each(function() {
                    if ($(this).val() !== '') {
                        totalQuantity += parseInt($(this).val());
                    }
                });

                $orderItemQuantity.val(totalQuantity);
            });

            $('#item-variants, #item-names').on('click', '.remove-row-btn', function () {
                $(this).closest('tr').remove();
            });

            var $itemNamesCollectionHolder = $('#item-names');

            $('#add-another-name').click(function() {
                var itemNameValuePrototype = $('#item-names').data('value-prototype');
                var itemNamePositionPrototype = $('#item-names').data('position-prototype');

                var index = $itemNamesCollectionHolder.children('tr').length;

                itemNameValuePrototype = itemNameValuePrototype.replace(/__name__/g, index);
                itemNamePositionPrototype = itemNamePositionPrototype.replace(/__name__/g, index);

                $itemNamesCollectionHolder.data('index', index + 1);

                var $newElem = $('<tr><td class="value-column"><td class="action-column"><button class="btn btn-sm btn-danger btn-icon remove-row-btn"><i class="fa fa-times"></i></button></td></tr>');

                $newElem.find('.value-column').html(itemNameValuePrototype + itemNamePositionPrototype);

                $itemNamesCollectionHolder.append($newElem);
            });
        });
    </script>
{% endblock %}

