{% extends 'base.html.twig' %}

{% block page_title %}My Orders{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/datatables/datatables.css') }}">
{% endblock %}

{% block page_js_libs %}
    <script src="{{ asset('assets/vendor/libs/datatables/datatables.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/moment/moment.js') }}"></script>

    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary text-center">
        {{ block('page_title') }}
    </h1>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="callout callout-primary mb-4">View and manage your past orders with us.</div>

    <div class="card">
        <div class="card-datatable table-responsive">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>
{% endblock %}
