{% extends 'base.html.twig' %}

{% block page_title %}
    Order Receipt
{% endblock %}

{% block content %}
    <h1 class="display-1 text-secondary text-center">
        {{ block('page_title') }}
    </h1>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="callout callout-primary mb-4">View previous order details and receipt.</div>

    <div class="card-body">
        <strong class="mr-2">Status:</strong>
        <span class="text-big"><span class="badge badge-success">Paid</span></span>
        <span class="text-muted small ml-1">{{ order.paidOrderPayment.referenceNumber }}</span>
    </div>
    <hr class="m-0">
    <div class="card-body pb-1">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="text-muted small">Date</div>
                {{ order.createdAt|date('Y-m-d h:i A') }}
            </div>
            <div class="col-md-4 mb-3">
                <div class="text-muted small">Items</div>
                {{ order.orderItems|length }}
            </div>
            <div class="col-md-4 mb-3">
                <div class="text-muted small">Amount</div>
                {{ order.total|money|format_currency('MYR') }}
            </div>
        </div>
    </div>
    <div class="card">

        <!-- Shipping -->
        <div class="card-body">
            <h6 class="small font-weight-semibold">
                Shipping Info
            </h6>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Name</div>
                    {{ order.orderShipping.recipientName }}
                </div>
                <div class="col-md-3 mb-3">
                    <div class="text-muted small">Phone</div>
                    {{ order.orderShipping.recipientPhoneNumber }}
                </div>
                <div class="col-md-3 mb-3">
                    <div class="text-muted small">Email</div>
                    {{ order.orderShipping.recipientEmailAddress }}
                </div>
                <div class="col-md-3 mb-3">
                    <div class="text-muted small">Country</div>
                    MALAYSIA
                </div>
                <div class="col-md-3 mb-3">
                    <div class="text-muted small">State / Region</div>
                    {{ order.orderShipping.addressState }}
                </div>
                <div class="col-md-3 mb-3">
                    <div class="text-muted small">City</div>
                    {{ order.orderShipping.addressCity }}
                </div>
                <div class="col-md-3 mb-3">
                    <div class="text-muted small">Postcode</div>
                    {{ order.orderShipping.addressPostcode }}
                </div>
                <div class="col-12">
                    <div class="text-muted small">Address</div>
                    {{ order.orderShipping.addressLine1 }}{% if order.orderShipping.addressLine2 is not null %}, {{ order.orderShipping.addressLine2 }}{% endif %}
                </div>
            </div>
        </div>
        <hr class="m-0">
        <!-- / Shipping -->

        <!-- Items -->
        <div class="card-body">
            <h6 class="small font-weight-semibold">
                Items
            </h6>

            <div class="table-responsive">
                <table class="table table-bordered m-0" style="min-width:550px;">
                    <tbody>

                    {% for orderItem in order.orderItems %}
                    <tr>
                        <td class="p-4">
                            <div class="media align-items-center">
                                <img src="{{ orderItem.design.frontSideThumbnailContent }}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                <div class="media-body">
                                    <a href="{{ url('frontend_load_design', {'uuid': orderItem.design.uuid}) }}" class="d-block text-body">{{ orderItem.product }}</a>
                                    <small>
                                        <span class="text-muted">Base Price:</span> {{ orderItem.product.basePrice|format_currency("MYR") }} &nbsp;
                                        {% if orderItem.orderItemCustomNames|length > 0 %}
                                        <span class="text-muted">Additional Name Printed: </span> {{ 500|money|format_currency('MYR') }} X {{ orderItem.orderItemCustomNames|length }} name(s) = {{ (500 * orderItem.orderItemCustomNames|length)|money|format_currency('MYR') }}
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                        </td>
                        <!-- Set column width -->
                        <td class="align-middle p-4" style="width: 66px;">
                            {{ orderItem.quantity }}
                        </td>
                        <!-- Set column width -->
                        <td class="text-right font-weight-semibold align-middle p-4" style="width: 100px;">
                            {{ orderItem.total|money|format_currency('MYR') }}
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <!-- / Items -->

        <!-- Items -->
        <div class="card-body">
            <h6 class="small font-weight-semibold">
                Adjustments And Totals
            </h6>

            <div class="table-responsive">
                <table class="table table-bordered m-0" style="min-width:550px;">
                    <tbody>
                    <tr>
                        <td class="p-4">
                            Shipping Charges ({{ order.orderShipping.shippingMethod|upper }})
                        </td>
                        <!-- Set column width -->
                        <td class="text-right font-weight-bold align-middle p-4" style="width: 100px;">
                            {{ order.shippingTotal|money|format_currency('MYR') }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 font-weight-bold">
                            Grand Totals
                        </td>
                        <!-- Set column width -->
                        <td class="text-right font-weight-bold align-middle p-4" style="width: 100px;">
                            {{ order.total|money|format_currency('MYR') }}
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- / Items -->
    </div>
{% endblock %}

{% block page_js %}
    <script>
        $(document).ready(function() {
        });
    </script>
{% endblock %}

